.App {
    text-align: left;
    height: 100vh;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
*{
    box-sizing: border-box;
}
label{
    margin:.5em;
    width:100%;
    max-width: 40em;
    input{
        border: .1px #f1f2f6 solid;
        background: #efefef;
        width:100%;
        padding: .5em;
    }
}
button{
    border: .1em #f1f2f6 solid;
    padding: .5em 1em;
    border-radius: .5em;
}

.spotify-login-button{
    display: block;
    border: .2em #1DB954 solid;
    border-radius: 15em;
    background: #1DB954;
    margin: 30vh auto;
    text-align: center;
    max-width: 15em;
    &:hover{
        background: #fff;
        a{
            color: #1DB954;
        }
    }
    a{
        display: block;

        padding: .5em 1em;
        color:#fff;
        font-size: 1.2em;
    }
    a:link { text-decoration: none; }

    a:visited { text-decoration: none; }

    a:hover { text-decoration: none; }

    a:active { text-decoration: none; }
}

.main{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1em;

    .concerts{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content:center;

        .concert-card{
            margin:.5em;
            padding:1em;
            background:#f1f2f6;
            min-width:30em;
            border-radius:.75em;

            .favorite{
                background:#ddd;
            }
            img{
                width: 15em;
            }
        }
    }
}