.App {
    text-align: left;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    label{
        width:40em;
        input{
            width:100%;
        }
    }

    .concerts{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content:center;
        .concert-card{
            margin:.5em;
            padding:1em;
            background:#f1f2f6;
            min-width:30em;
            border-radius:.75em;
        }
    }
}